* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --space-xs: 0.625rem;
    --space-sm: 1.25rem;
    --space-md: 2.5rem;
    --space-lg: 3.75rem;
    --space-xl: 5rem;

    --color-background: #fafbfd;
    --color-primary: #243342;
    --color-secondary: #243342cc;
    --color-border: #24334226;
    --color-link: #476685;
}

body {
    font-family: Inter, "Helvetica Neue", Helvetica, sans-serif;
    background: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li {
    line-height: 1.7;
}

p {
    margin-bottom: 1.5rem;
    color: var(--color-secondary);
}

span {
    color: var(--color-secondary);
}

a {
    text-decoration: none;
    color: var(--color-link);
}

header,
main,
footer {
    max-width: 720px;
    margin: var(--space-lg) auto;
}

header {
    display: flex;
    justify-content: space-between;

    div > .blog-name {
        font-weight: 500;
        font-size: 1.1rem;
        cursor: default;
        color: var(--color-secondary);
    }

    nav > a:first-child {
        margin-right: 2rem;
    }

    button,
    .btn {
        padding: 0.5rem 1rem;
        background: var(--color-primary);
        color: var(--color-background);
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        border: none;
        border-radius: 0.25rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    color: var(--color-secondary);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1;
}

ul li {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

button[type="submit"] {
    background: var(--color-link);
    color: var(--color-background);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    margin-top: 3rem;
    align-self: flex-end;
    cursor: pointer;
}

.edit-options {
    align-self: flex-end;
    margin-top: 3rem;

    a:first-child {
        margin-right: 2rem;
    }
}

header > div {
    display: flex;
    align-items: center;
    position: relative;
}

header > div > img {
    height: 1.5rem;
    margin-left: 0.25rem;
    cursor: pointer;
}

header > div > a {
    font-size: 1.1rem;
    font-weight: 500;
}

header > div ul {
    position: absolute;
    top: 2.5rem;
    background: var(--color-background);
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: 1px 1px 8px -6px;
    width: 240px;
}

.post-body {
    margin-bottom: 2rem;
    line-height: 1.5;
}

.admin-bar {
    width: 100%;
    background: var(--color-primary);
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0px 1px 8px -6px;

    a {
        color: var(--color-background);
        margin-right: 2rem;
        text-decoration: none;
    }

    a:last-child {
        margin-right: 0;
    }
}

.site-title {
    color: #fff;
    font-weight: 600;
}

#id_title {
    background: var(--color-background);
    border: none;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: var(--color-primary);
}

#id_title:focus {
    outline: none;
}
