{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ blog.name }}
{% endblock title %}

{% block blog %}
    <header class="container">
        <div>
            <a href="{% url 'post_list' path=blog.path %}" class="blog-name">{{ blog.name }}</a>
            <img class="blog-list-dropdown-arrow"
                 src="{% static 'icons/arrow_down.svg' %}"
                 alt="Arrow down icon">
            <ul class="blog-list-dropdown" style="display: none;">
                {% for blog in blogs %}
                    <li>
                        <a href="{% url 'post_list' path=blog.path %}">{{ blog }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <nav>
            <!-- <a href="{% url 'post_list' path=blog.path %}">All Posts</a> -->
            {% if user.is_authenticated and user == blog.author %}
                <a class="new-post btn" href="{% url 'post_new' path=blog.path %}">New Post</a>
            {% else %}
                <a class="btn" href="/">Sign up</a>
            {% endif %}
        </nav>
    </header>

    <main class="container">
        {% block blog_content %}
        {% endblock blog_content %}
    </main>

    <footer class="container">
        <small>© 2024 Tiny Blog. All rights reserved.</small>
    </footer>
{% endblock blog %}
