{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ blog.name }}
{% endblock title %}

{% block blog %}
    <div class="admin-bar">
        <span class="site-title">TinyBlog</span>
        {% if user.is_authenticated %}
            <div class="options">
                <a href="/">Settings</a>
                <a href="/">Log Out</a>
            </div>
        {% endif %}
    </div>
    <header>
        <div>
            <span class="blog-name">{{ blog.name }}</span>
            <img class="blog-list-dropdown-arrow"
                 src="{% static 'icons/arrow_down.svg' %}"
                 alt="Arrow down icon">
            <ul class="blog-list-dropdown" style="display: none;">
                {% for blog in blogs %}
                    <li>
                        <a href="{% url 'post_list' path=blog.path %}">{{ blog }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <nav>
            <a href="{% url 'post_list' path=blog.path %}">All Posts</a>
            {% if user.is_authenticated and user == blog.author %}
                <a class="btn" href="{% url 'post_new' path=blog.path %}">New Post</a>
            {% else %}
                <button>Sign Up</button>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block blog_content %}
        {% endblock blog_content %}
    </main>
    <footer>
        <small>© 2024 Carbon Blog. All rights reserved.</small>
    </footer>
{% endblock blog %}
