{% extends 'blog/base.html' %}

{% load static %}

{% block subtitle %}{{ post.title }}{% endblock %}

{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/hljs.css' %}">
    <script src="{% static 'js/hljs.bundle.js' %}" defer></script>
{% endblock head_content %}

{% block blog_content %}
    <article>
        <h1 class="title">{{ post.title }}</h1>
        <div class="content">{{ post.body|safe }}</div>
        <small>Published {{ post.created_on }}</small>
        {% if post.created_on != post.updated_on %}<small>Last updated on {{ post.updated_on }}</small>{% endif %}
    </article>
    {% if user.is_authenticated and user == blog.author %}
        <div class="edit-options">
            <a href="{% url 'post_edit' path=blog.path slug=post.slug %}">Edit</a>
            <a href="{% url 'post_delete' path=blog.path slug=post.slug %}">Delete</a>
        </div>
    {% endif %}
{% endblock blog_content %}
