{% extends 'blog/base.html' %}
{% load static %}

{% block subtitle %}Editing "{{ post.title }}"{% endblock %}

{% block blog_content %}
    <form id="edit_post_form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="tiptap-editor"></div>
        <input type="hidden" name="content" id="tiptap_content">
        <button type="submit">Update</button>
    </form>
{% endblock blog_content %}

{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/tiptap.css' %}">
    <script defer>const postContent = '{{ post.body|escapejs }}'</script>
    <script src="{% static 'js/tiptap.bundle.js' %}" defer></script>
{% endblock head_content %}
