{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block head_content %}
        {% endblock head_content %}
        <script src="{% static 'js/app.bundle.js' %}" defer></script>
        <title>
            {% block title %}
            {% endblock title %}
            |
            {% block subtitle %}
            {% endblock subtitle %}
        </title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="top-bar">
                <span>{{ user }}</span>
                <div class="options">
                    <a href="/">Settings</a>
                    <a href="{% url 'logout' %}">Log Out</a>
                </div>
            </div>
        {% endif %}
        {% block blog %}
        {% endblock blog %}
    </body>
</html>
