{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block head_content %}
        {% endblock head_content %}
        <script src="{% static 'js/app.bundle.js' %}" defer></script>
        <title>
            {% block title %}
            {% endblock title %}
            |
            {% block subtitle %}
            {% endblock subtitle %}
        </title>
    </head>
    <body>
        <div class="top-bar">
            <div class="container">
                <span class="site-title">whisp</span>
                {% if user.is_authenticated %}
                    <div class="options">
                        <a href="/">Settings</a>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </div>
                {% else %}
                    <button class="sign-up">Sign up</button>
                {% endif %}
            </div>
        </div>
        {% block blog %}
        {% endblock blog %}
    </body>
</html>
